body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *::after, *::before{
  box-sizing: inherit;
}

.wrap-container {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* left side */
.left {
  width: 35%;
  height: 100%;
  background-image: url("../images/scott.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-back {
  width: 100%;
  margin-top: 15rem;
  height: 30%;
  background-color: #120303;
  opacity: 50%;
}

.img-description {
  display: flex;
  flex-direction: column;
}

img {
  max-width:100%;
  height:auto;
}

.img-info > a{
  color: #fff;
  text-decoration: none;
}
.img-logo{
  width: auto;
  text-align: center;

  font-size: 2rem;
  gap: 20px;
}
/* END left side */

/* right side */
.right {
  background-color: #ebedfa;

  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}
.box-one{
  font-weight: 500;
  font-size: 1.4em;
  max-width: 700px;
  margin-left: 50px;
}

.box-two {
  justify-content: space-between;
  height: 400px;  
  display: flex;
  background-color: #dddddd;
  width: 100%;
  text-align: left;
  justify-items: space-around;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  justify-content: space-around;
  margin-left: 50px;
}

.column {
  display: flex;
  width: 75%;
}

.column-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.column-right {
   padding-left: 20%;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.register {
  width: 500px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  border: none;
  text-align: justify;
}

.button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10%;
  cursor: pointer;
  background-color: #596d48;
  border: hidden;
  color: #fff;
}

.box-three {
  margin-left: 50px;
}

.box-two input {
  border-radius: 5px;
  border-style: groove;
  margin: 10px 0;
  display: flex;
  width: 250px;
  height: 45px;
  padding-left: 15px;
}

label {
  padding: 20px 0;
}

legend {
  font-size: 1.4rem;
  font-weight: 500;
}

.login {
  text-decoration: none;
  color: rgb(49, 122, 124);
}