body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
}

  *, *::after, *::before{
  box-sizing: inherit;
}

.wrap-container {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* left side */
.left {
  width: 35%;
  height: 100%;
  background-image: url("../images/scott.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-back {
  width: 100%;
  margin-top: 15rem;
  background-color: #120303;
  opacity: 50%;
}

.img-description {
  display: flex;
  flex-direction: column;
}

.odin-img {
  margin: 20px;  
  height: 170px;
  width: 130px;
}

.img-info > a{
  color: #fff;
  text-decoration: none;
}
/* END left side */

/* right side */
.right {
  background-color: #ebedfa;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: flex-start;
}
.box-one{
  font-weight: 500;
  font-size: 1.4em;
  max-width: 700px;
  margin-left: 50px;
}

.box-two {
  justify-content: space-between;
  height: 400px;  
  display: flex;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  justify-items: space-around;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  justify-content: space-around;
  margin-left: 50px;
}

.column {
  display: flex;
  width: 75%;
}

.column-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.column-right {
   padding-left: 20%;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.register {
  width: 500px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  border: none;
  text-align: justify;
}

input#submit {
  font-size: 1.2rem;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
  background-color: #b9e4e3;
  border: hidden;
  color: #444;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2px solid #b2b2b2;
}

.box-three {
  margin-left: 50px;
}

.box-two input {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 7px;
  padding: 5px 5px 5px 15px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  margin: 5px 0 5px 0;
  display: block;
  width: 250px;
  height: 35px;
}

input:focus, input:hover {
  background-color: #ffffff;
  border: 1px solid #b1e1e4;
}

label {
  text-shadow: #7e7d7d;
  padding: 20px 0;
}

legend {
  font-size: 1.4rem;
  font-weight: 500;
}

.login {
  text-decoration: none;
  color: rgb(49, 122, 124);
}