@font-face {
  font-family: 'Norse-Bold';
  src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

body {
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
}

.wraper {
  height: 100vh;
  display: flex;
}

.image-sidebar {
  background-image: url('../images/scott.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo-section {
  font-family: 'Norse-Bold';
  font-size: 4em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .6);
  color: white;
  text-align: center;
  display: flex;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 20px;
  width: 3rem;
}

.p {
  color: #fff;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.p>a {
  color: #fff;
  text-decoration: none;
}

.p>a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text {
  letter-spacing: 0.5px;
  font-weight: bold;
}

.box-1 {
  padding: 20px;
}

.form-box {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box>h2 {
  padding-bottom: 10px;
}

.form-box:before,
.form-box:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #E5E7EB;
  position: absolute;
  left: 0;
  right: 0;
}

.form-box:before {
  top: 0;
}

.form-box:after {
  bottom: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      "firstName lastName"
      "email phone"
      "password confirmPassword";
  gap: 20px;
}

#firstName {
  grid-area: firstName;
}

#email {
  grid-area: email;
}

#password {
  grid-area: password;
}

#lastName {
  grid-area: lastName;
}

#phone {
  grid-area: phone;
}

#confirmPassword {
  grid-area: confirmPassword;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  outline: none;
}

input:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

input.error {
  border-color: red;
}

.box-3 {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login-text {
  padding-top: 15px;
}

button {
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  width: 45%;
  background-color: #596D48;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4a5a38;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .wraper {
      font-size: 0.9rem;
      flex-direction: column;
  }


  .input-columns {
      display: flex;
      flex-direction: column;
  }


  #firstName {
      order: 1;
  }

  #lastName {
      order: 2;
  }

  #phone {
      order: 3;
  }

  #email {
      order: 4;
  }

  #password {
      order: 5;
  }

  #confirmPassword {
      order: 6;
  }

  .image-sidebar {
      height: 20%;
  }

  button {
      width: 100%;
      padding: 8px;
  }
}

@media (min-width: 768px) {

  .wraper {
      font-size: 1.2rem;
  }

  .image-sidebar {
      width: 33%;
  }

  .logo-section {

      height: 22vh;
  }

  .signup-container {
      width: 67%;
  }
}